<html>

<!--<mat-card class="product-card">

    <img mat-card-image src="assets\productImages\iPhone.jfif">
    <mat-card-content>
        <h3>Product Name</h3>
        <h4>Product Price</h4>
        <p>This is where the description will show up.</p>
    </mat-card-content>
<mat-card-actions>
    <button mat-button>Add to Cart</button>

</mat-card-actions>
</mat-card>-->

<mat-grid-list cols="3" rowHeight="300">
    <mat-grid-tile *ngFor="let product of products" >
        <mat-card class="product-card">
            
            <img mat-card-lg-image src={{product.img_url}} alt = "product.img_url">
            
            <mat-card-content>
                <h3>{{product.name}}</h3>
                <h5>${{product.price}}</h5>
                <h5>Current stock: {{product.stock}}</h5>
                <p>{{product.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Add to Cart</button>

            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

</html>