<html>
<mat-toolbar color="primary">
  <span>MTP Store</span>
  <span class="heading1">
    <button mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
    <button mat-button routerLink="/catalog" routerLinkActive="active" ariaCurrentWhenActive="page">Catalog</button>
  </span>
  <span class="heading2">
    <button mat-button routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</button>
    <button mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
  </span>
  <button mat-button sec:authorize="isAuthenticated()">Logout</button>

</mat-toolbar>
<div class="contentpane">
  <router-outlet></router-outlet>
</div>

</html>